.branchbody {
    background-color: rgb(226, 225, 225);
    padding: 20px;
    width: 60%;

}
.carticonno{
    margin-left: 80%;
    margin-top: 2%;

}
.carticonno:hover{
    background-color: rgb(226, 225, 225);
    border-radius: 10px;
    padding: 5px;
    color: #ff9334;
    height: 30px;
}

.branchbodyprofileimage {
    height: 300px;
    width: 50%;
    border-radius: 20px;
}

.branchbodyprofilecontent {
    position: absolute;
    margin-left: 30%;
    width: 300px;
    padding: 10px;
}

.branchbodyprofilecontent button {
    border: none;
    padding: 10px;
    color: #ff9334;
}

.branchbodyprofiletime {
    height: 325px;
    position: absolute;
    background-color: rgb(226, 225, 225);
    right: 50px;
    width: 300px;
    padding: 10px;
}
.cartsummarydiv {
    height: 325px;
    position: absolute;
    background-color: rgb(226, 225, 225);
    right: 50px;
    width: 350px;
    padding: 20px;
}
.cartsummarydivphone{
    display: none;
}
.ratingusericon {
    background-color: silver;
    border-radius: 30px;
    padding: 20px;
    margin-right: 10px;
}

.userratingdiv {
    padding: 10px;
    display: flex;
}

.viewallreviewsbutton {
    background-color: rgb(226, 225, 225);
    color: blue;
    border: none;
    cursor: pointer;
}

.mealname {
    font-weight: bold;
    font-size: 20px;
    width: 90%;
}
.addtocarticon{
  color: #ff9334;
  font-size: 25px;
}

.confirmcartdiv {
    background-color: white;
    position: absolute;
    z-index: 3;
    margin: 50% 30% 0% 40%;
    border-radius: 5px;
    padding: 20px;
}

/*cart page items*/
.cartitemdiv{
    padding: 10px;
    display: flex;
}
.cartitemimage{
    height: 80px;
    width: 100px;
    border-radius: 5px;
}
.itemcartcontent{
margin-left: 20px;
width: 40%;
}
.cartitemprice{
margin-left: 30%;
font-weight: bold;
font-size: 20px;
}
.bottomcartdiv{
    display: flex;
  
}
.bottomcartdiv button{
    background-color: rgb(226, 225, 225);
    border:none;
    color: #ff9334;
    font-size: 20px;
    font-family: monospace;
    cursor: pointer;
}
.bottomcartdiv button:hover{
    background-color: rgb(189, 184, 184);
    border:none;
    color: #ff9334;
    font-size: 20px;
    font-family: monospace;
    cursor: pointer;
}
.bottomcartbuttons{
    margin-left: 70%;
    display: flex;
    font-size: 30px;
}
.cartcardquantity{
    margin-right: 15px;
    margin-left: 15px;
    font-size: 25px;
}
.checkoutbutton{
    background-color: #ff9334;
    color: white;
    text-align: center;
    width: 90%;
    margin: 0 auto;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}
.cartsumno{
    margin-left: 50%;
    font-size: 20px;
    font-weight: bold;
}
.itemcartcontent::-webkit-scrollbar {
    display: none;
}


/*small screens*/
@media only screen and (max-width : 450px) {
    .bottomcartbuttons{
        margin-left: 20%;
        display: flex;
        font-size: 30px;
    }
    .cartitemprice{
        margin-left: 2%;
        font-weight: bold;
        font-size: 20px;
        }
    .itemcartcontent{
        width: 50%;
        height: 100px;
        overflow:auto;
    }
   
    .cartsummarydivphone{
        display:inline;
        margin-top: 30px;
        border-radius: 5px;
    }
    .cartsummarydiv{
        display: none;
    }
    .confirmcartdiv {
        background-color: white;
        position: absolute;
        z-index: 3;
        margin: 200% 0% 0% 5%;
        border-radius: 5px;
        padding: 20px;
    }
    .carticonno{
        margin-left: 30%;
        margin-top: 10%;
    }
    
    .branchbody {
        background-color: rgb(226, 225, 225);
        padding: 20px;
        width: 90%;
    
    }
    
    .branchbodyprofileimage {
        height: 300px;
        width: 100%;
        border-radius: 20px;
    }
    
    .branchbodyprofilecontent {
        position: relative;
        margin-left: 0%;
        width: 80%;
        padding: 10px;
    }
    
    .branchbodyprofilecontent button {
        border: none;
        padding: 10px;
        color: #ff9334;
    }
    
    .branchbodyprofiletime {
        height: 100px;
        position: relative;
        background-color: rgb(226, 225, 225);
        right: 0px;
        width:100%;
        padding: 20px;
    }
    
    .ratingusericon {
        background-color: silver;
        border-radius: 30px;
        padding: 20px;
        margin-right: 10px;
    }
    
    .userratingdiv {
        padding: 10px;
        display: flex;
    }
    
    .viewallreviewsbutton {
        background-color: rgb(226, 225, 225);
        color: blue;
        border: none;
        cursor: pointer;
    }
    
    .mealname {
        font-weight: bold;
        font-size: 20px;
    }

}

/*medium screens*/
@media only screen and (min-width: 450px) and (max-width : 1020px) {
   
    .bottomcartbuttons{
        margin-left: 60%;
        display: flex;
        font-size: 30px;
    }
    .cartitemprice{
        margin-left: 10%;
        font-weight: bold;
        font-size: 20px;
        }
    .itemcartcontent{
        width: 50%;
        height: 100px;
        overflow:auto;
    }
   
    .cartsummarydivphone{
        display:inline;
        margin-top: 30px;
        border-radius: 5px;
    }
    .cartsummarydiv{
        display: none;
    }
    .carticonno{
        margin-left: 50%;
        margin-top: 10%;
    }
    .branchbody {
        background-color: rgb(226, 225, 225);
        padding: 20px;
        width: 100%;
    
    }
    
    .branchbodyprofileimage {
        height: 250px;
        width: 40%;
        border-radius: 20px;
    }
    
    .branchbodyprofilecontent {
        position: absolute;
        margin-left: 40%;
        width: 50%;
        padding: 10px;
    }
    
    .branchbodyprofilecontent button {
        border: none;
        padding: 10px;
        color: #ff9334;
    }
    
    .branchbodyprofiletime {
        height: 100px;
        position: relative;
        background-color: rgb(226, 225, 225);
        right: 0px;
        width:100%;
        padding: 20px;
    }
    
    .ratingusericon {
        background-color: silver;
        border-radius: 30px;
        padding: 20px;
        margin-right: 10px;
    }
    
    .userratingdiv {
        padding: 10px;
        display: flex;
    }
    
    .viewallreviewsbutton {
        background-color: rgb(226, 225, 225);
        color: blue;
        border: none;
        cursor: pointer;
    }
    
    .mealname {
        font-weight: bold;
        font-size: 20px;
    }

  

}
  /*tablet*/
  @media only screen and (min-width: 780px) and (max-width : 1200px) {
   
    .carticonno{
        margin-left: 70%;
        margin-top: 5%;
    }
  }
  @media only screen and (min-width: 1020px) and (max-width : 1200px) {
    .cartsummarydiv {
        height: 325px;
        position: absolute;
        background-color: rgb(226, 225, 225);
        right: 0px;
        width: 330px;
        padding: 10px;
    }
    .cartsumno{
        margin-left: 50%;
        font-size: 30px;
        font-weight: bold;
    }
    .carticonno{
        margin-left: 70%;
        margin-top: 5%;
    }
  }