.userheader {
    background-color: white;
    width: 100%;
    padding-left: 5px;
    display: flex;
    border-bottom: 1px solid silver;
    flex-wrap: wrap;
}

.scrollmenu {
    overflow: auto;
    margin: 0 auto;
    width: 95%;
    white-space: nowrap;
}
.scrolldiv{
    display: inline-block;
    width: 20%;
    cursor: pointer;
    margin: 5px;
}
.scrolldiv div{
    display: block;
}


.scrolldiv img {
    width: 100%;
    height: 150px;
}


.usersbarsicon {
    margin-top: 30px;
    margin-right: 10px;
    margin-left: 2%;
    font-size: 30px;
    cursor: pointer;
    color: #ff9334;
}

.foodheadersearchinput {
    padding: 10px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: none transparent;
    outline: none;
    width: 100%;
    background-color: rgb(219, 218, 218);
}

.searchicon {
    background-color: rgb(219, 218, 218);
    height: 50px;
    padding-right: 10px;
    border-top-right-radius: 20px;
    cursor: pointer;
    border-bottom-right-radius: 20px;

}

.foodheadersearchwrap {
    margin: 3% 1% 3% 5%;
    width: 40%;
    display: flex;
}

.userslocation {
    display: flex;
    margin: 3% 1% 3% 5%;
    width: 10%;
    background-color: rgb(219, 218, 218);
    border-radius: 20px;
    cursor: pointer;
    display: flex;
}

.userslocation:hover {
    background-color: rgb(189, 186, 186);
}

.userslocationicon {
    padding-left: 10px;
    margin-top: 15px;
    margin-right: 5px;
}

.wrapcart {
    display: flex;
    margin: 3% 1% 3% 5%;
    width: 10%;
    background-color: black;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
}

.foodswrap {
    display: flex;
    flex-wrap: wrap;
    padding-top: 15px;
    
}
.iconfoods{
    display: inline-block;
    width: 8%;
}
.iconfoods img{
    width: 30px;
    height: 30px;
   
}
.iconfoods img:hover{
    cursor: pointer;
    background-color: silver;
    border-radius: 50px;
    padding: 10px;
}

.foods {
    width: 20%;
    cursor: pointer;
    margin: 2%;
}



.foods img {
    width: 100%;
    height: 150px;
}

.foodsheader {
    width: 100%;
    font-weight: bolder;
    font-size: 30px;
}

.foodsandheaderwrap {
    padding-left: 5%;
    padding-top: 3%;
    background-color: white;
}

.fooddeliveryprice {
    font-size: 15px;
    font-weight: bold;
    margin-top: 5px;
    color: rgb(59, 59, 58);
}

.foodrestaurant {
    font-size: 20px;
    width: 50%;
    font-weight: bolder;
}

.likeicon {
    position: absolute;
    color: white;
    margin-left: 240px;
    font-size: 20px;
    cursor: pointer;
    margin-top: 5px;
}

.likeicon:hover {
    color: #ff9334;
}

.foodcontentdetails {
    display: flex;
    height: 15%;
}

.rating {
    background-color: rgb(219, 218, 218);
    border-radius: 20px;
    width: 40px;
    padding-top: 10px;
    height: 30px;
    margin: 0px 0px 0px 0%;
    text-align: center;
}

.stars {
    margin-top: 10px;
    width: 33%;
}

.sidenavaccountheader {
    display: flex;
}

.userssidemenu {
    position: fixed;
    padding-top: 5px;
    width: 25%;
    background-color: white;
    padding-left: 20px;
    padding-bottom: 50px;

}


.usericon {
    font-size: 50px;
    margin-top: 10px;
    background-color: rgb(219, 218, 218);
    padding: 10px;
    border-radius: 50px;
}

.sidenavaccountheader p {
    margin: 40px 0px 0px 20px;
}

.link-icons {
    margin: 5px 10px 0px 0px;
}

.sidewrap2 {
    padding-bottom: 130px;
}

.usershomelogo {
    width: 100px;
    height: 100px;
}

/* mobile view*/
@media only screen and (max-width : 780px) {
    .iconfoods{
        display: inline-block;
        width: 30%;
    }
    .scrollmenu {
        overflow: auto;
        margin: 0 auto;
        width: 105%;
        white-space: nowrap;
    }
    
    .scrolldiv{
        display: inline-block;
        width: 50%;
        cursor: pointer;
        margin: 5px;
    }
    .scrolldiv div{
        display: block;
    }
    
    
    .scrolldiv img {
        width: 100%;
        height: 130px;
    }
    .sidewrap2 {
        padding-bottom: 20px;
    }

    .usershomelogo {
        width: 80px;
    }

    .userslocation {
        display: flex;
        margin: 10% 1% 3% 0%;
        width: 45%;
        background-color: rgb(219, 218, 218);
        height: 35px;
        border-radius: 20px;
        cursor: pointer;
        padding-bottom: 10px;
        display: flex;
    }

    .wrapcart {
        display: flex;
        margin: 0% 1% 2% 1%;
        width: 30%;
        background-color: black;
        color: white;
        border-radius: 20px;
        cursor: pointer;
        display: flex;
    }

    .foodheadersearchwrap {
        margin: 0% 1% 2% 3%;
        width: 60%;
        display: flex;
    }

    .foodheadersearchinput {
        padding: 10px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        border: none transparent;
        outline: none;
        height: 30px;
        width: 100%;
        background-color: rgb(219, 218, 218);
    }

    .foodrestaurant {
        font-size: 15px;
        width: 50%;
        margin-top: 10px;
        font-weight: bolder;
    }

    .userssidemenu {
        position: fixed;
        padding-top: 5px;
        width: 100%;
        background-color: white;
        padding-left: 10px;
        padding-bottom: 50px;

    }

    .foods {
        width: 45%;
        cursor: pointer;
        margin: 2px;
    }

    .likeicon {
        position: absolute;
        color: white;
        margin-left: 140px;
        font-size: 20px;
        cursor: pointer;
        margin-top: 5px;
    }

    .rating {
        background-color: rgb(219, 218, 218);
        border-radius: 20px;
        width: 40px;
        padding-top: 10px;
        height: 30px;
        margin: 5px 0px 0px 0%;
        text-align: center;
    }

    .stars {
        width: 70%;
    }

    .foodcontentdetails {
        display: flex;
        height: 20%;
    }

    .fooddeliveryprice {
        margin-bottom: 10px;
        font-size: 13px;
        color: rgb(59, 59, 58);
    }




}